.banner-heading { width: 100%; text-align: center; list-style: none;}
.banner-heading li { display: inline-block; padding: 0 10px;}
.banner-heading li a { display: block; background: #fff; padding: 10px 40px; line-height: 35px; font-size: 23px; text-transform: uppercase;}
.features-one__title { background: url('../images/backgrounds/plane-bg.jpg') no-repeat center 50px #082740;  }
.features-one__content { margin-top: -100px;}
.rate-base-layer {color: #aaa;}
.rate-hover-layer {color: orange;}
.rate-select-layer{ color: orange;}
.tour-one__stars { padding: 10px 0 0 0; margin: 0;}
.tour-one__content .address { margin-top: -10px; margin-bottom: 20px;}
.tour-one__content .address i { color:var(--thm-blue);}
.tour-one__meta li p { font-size: 20px;}
.tour-one__meta li span { color:var(--thm-blue); font-size: 26px;}
.tour-one .block-title p, .testimonials-one .block-title p { color:var(--thm-blue);}
.mid-banner p { color: #fff;}
.mid-banner h3 { font-size: 80px; font-weight: bold;}
.mid-banner abbr { color: var(--thm-base);}
.mid-banner a { margin-top: 20px; display: inline-block; text-transform: uppercase; font-size: 26px; background:#0a7dcd; color: #fff; padding: 20px 60px; }
.testimonials-one {background: #fff;}
.testimonials-one__content {background:var(--thm-gray); }
.thm__owl-carousel.light-dots .owl-dots .owl-dot span {background:var(--thm-gray);}
.newsletter-one { padding: 50px 0 30px 0; background: var(--thm-primary);}
.newsletter-one abbr { font-size: 50px; color: #fff;}
.newsletter-one ul li { display: inline-block;}
.newsletter-one ul li:first-child { width: 65%;}
.newsletter-one ul li:last-child { width: 34%;}
.newsletter-one ul li:last-child  button { background: var(--thm-base); font-weight: bold; border: none; text-transform: uppercase; padding: 8px 30px; }
.newsletter-one ul li:first-child input { width: 100%; padding: 5px;}
.footer-widget__about { max-width: 40%;}
.site-footer__bg { opacity: 1;}
.footer-link  { color: #000 !important;} 
.site-footer__bottom { padding-top: 10px; padding-bottom: 10px;}

.site-footer__social a {width:auto; height: auto; background: none; }
.site-footer__social a:hover{ background: none; color: var(--thm-primary);}

.tourlist .tour-one__content { width: 100%;}
.service-details  .tour-one__stars { display: flex; align-items: flex-start; }
.service-details  .tour-one__stars  .rate { margin-right: 10px;}

.service-details  .tour-details__content .tour-two__top { padding-bottom: 0px; }
.service-details  .address { padding:10px 0 20px 0; border-top: 1px solid var(--thm-gray) ;}
.service-details  .address  i { color: var(--thm-blue);}

.service-details .tour-details__list li i { color: var(--thm-base); }
.service-details .tour-details__content .tour-two__right span { color: var(--thm-blue); }

.service-details .review  .item {  background: var(--thm-gray); padding: 30px; }
.service-details .review  .item .item_header {  display: flex;  justify-content: space-between;}
.service-details .review  .item .item_header .tour-sidebar__organizer-content h3  { font-size: 24px; margin: 0;}
.service-details .review  .item .item_header .tour-sidebar__organizer-content span  { display: inline-block !important; color: inherit !important; }
.service-details .review  .item .item_header .tour-sidebar__organizer-content > img { width: auto !important;}
.service-details .review  .item  p { font-weight: normal; padding: 10px; display: block; line-height: 30px; margin-top: 20px;}

.price-start-from  { padding: 20px; text-align: center; margin-bottom: 20px; border: 1px solid  var(--thm-gray); font-size: 22px; }
.price-start-from abbr { color: #000;}
.price-start-from span { color: var(--thm-base); font-size: 24px;}
.price-start-from small { font-size: 18px;  } 